/* the tree node's style */
.collapsible {
  overflow-y: hidden;
}

.collapsible-view_item {
  cursor: pointer;
  /* immediate child of .collapsible-view, for styling convenience */
}


/* style for the children nodes container */
.collapsible-view_children, .field {
  margin-left: 14px;
}

.collapsible-view_children-collapsed {
  height: 0;
}

.collapsible-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}


.collapsible.no-arrow > .collapsible-view_item > .collapsible-view_arrow {
  display: none;
}