@indent: 1em;

/* the tree node's style */
.collapsible {
  overflow-y: hidden;
  padding-left: @indent;
}

.collapsible-label {
  position: relative;
  cursor: pointer;
}

.collapsible-children-collapsed {
  height: 0;
}

.collapsible-arrow {
  position: absolute;
  bottom: 0;
  left: -@indent;
  width: @indent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}