@indent: 14px;

/* the tree node's style */
.collapsible {
  overflow-y: hidden;
}

.collapsible-view_item {
  cursor: pointer;
  /* immediate child of .collapsible-view, for styling convenience */
}


/* style for the children nodes container */
.collapsible-view_children {
  margin-left: @indent;
}

.collapsible-view_children-collapsed {
  height: 0;
}

.collapsible-view_arrow {
  cursor: pointer;
  width: @indent;
  display: inline-block;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}


.collapsible-view_arrow {
  font-family: @mono-font;
}