// GitHub PrimerCss pallete;
@gh-green: #6cc644;
@gh-blue: #4078c0;
@gh-red: #c9510c;
@gh-orange: #c9510c;
@gh-purple: #6e5494;

@gh-gray-light: #fafafa;
@gh-gray: #f5f5f5;
@gh-gray-dark: #333;

@monospaced: 'Fira Mono', monospace;
@basic-font: 'Fira Sans', sans-serif;