@import "common";

@schema-name: @gh-purple;
@description: #cdcdcd;
@field-optional: @gh-blue;
@field-required: @gh-orange;

.schema {
  font-family: @mono-font;
  color: #444;

  .field {
    margin-left: 14px;
  }

  .optional {
    .field-name {
      color: @field-optional;
      //font-style: italic;
    }
  }

  .required {
    .field-name {
      color: @field-required;
      font-weight: bold;
    }
    .star {
      margin-right: .5em;
      font-weight: bold;
      color: @field-required;
      cursor: help;
    }
  }

  .schema-name {
    color: @schema-name;
    font-weight: bold;
  }

  .description {
    color: @description;
  }
}
