@import url(collapsible.less);

//@import 'https://fonts.googleapis.com/css?family=Fira+Mono:400,700,400i,700i|Fira+Sans:400,700,400i,700i';
@import 'https://code.cdn.mozilla.net/fonts/fira.css';

body {
  padding: 1em;
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: 'Fira Mono', monospace;
}