@import "common";

.tags {
  padding-bottom: .5em;
}
.tag {
  @tag-font-size: 1.35em;

  .tag-label {
    font-size: @tag-font-size;

    display: inline-block;
    padding-bottom: .3em;

    .name {
      font-weight: bold;
    }
    & > .description {
      color: #555;
    }
  }

  & .collapsible-view_arrow {
    font-family: @monospaced;
  }
  & > .collapsible-view_item > .collapsible-view_arrow {
    font-size: @tag-font-size;
    font-weight: bold;
  }
}

.path {
  @method-width: 4.5em;

  padding-bottom: .5em;

  .path-title {

    .method {
      color: white;
      font-size: .8em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: @method-width;
      padding: .4em;
      border-radius: .3em;

      &.put {  background-color: @gh-orange;  }
      &.get {  background-color: @gh-blue;  }
      &.post {  background-color: @gh-green;  }
      &.head {  background-color: @gh-purple;  }
      &.delete {  background-color: @gh-red;  }
    }

    .path-name {
      font-family: @monospaced;
      //font-weight: bold;
      //color: #444;
      //background-color: #6cc644;
    }
  }


  .content {
    padding-left: @method-width;
    padding-bottom: 1.5em;
    padding-top: .5em;

    .description {
      font-size: .9em;
      color: @gh-gray-dark;
    }
  }

  .parameters, .responses {
    table {
      //border-spacing: .6em;
    }
    thead {
      color: #666;
      font-size: .9em;
      //font-weight: bold;
    }
    td {
      //display: table-cell;
      vertical-align: top;
      padding-right: 1rem;
    }

    .title {
      color: #666;
      font-weight: 600;
      padding-top: .5em;
      border-bottom: 1px solid @gh-gray;
    }

    .tag {
      display: inline-block;
      text-align: center;
      font-family: @monospaced;
      width: 3rem;

      .tip {
        //background-color: #6cc644;
        font-family: @basic-font;
        color: #666;
        text-align: right;
        font-weight: normal;
        font-size: .8rem;

        width: 4rem;
        left: -5rem;
        padding: 0 .5rem;

        top: .3rem;
      }

      .label {
        display: inline-block;
        color: #444;
        background-color: #eee;

        &.xx2 {
          color: white;
          background-color: @gh-green;
        }
        &.xx4 {
          color: white;
          background-color: @gh-purple;
        }
        &.xx5 {
          color: white;
          background-color: @gh-red;
        }

        padding: 1px 5px;

        border-radius: .2em;
        font-size: .7em;
        font-weight: bold;

      }
    }

  }

  .parameter > .required{
    font-weight: bold;
    position: relative;
    top: .3em;
    font-size: 1.1em;
    color: @gh-red;

    .tip {
      //background-color: #6cc644;
      font-family: @basic-font;
      color: #666;
      text-align: right;
      font-weight: normal;
      font-size: .8rem;
      top: 0;

      width: 5rem;
      left: -9.3rem;
    }
  }
}

.definitions {
  .title {
    margin-bottom: .5em;
  }
}