.tag-label {
  font-size: 1.8em;
  .name {
    font-weight: bold;
  }
  .description {
    color: gray;
  }
}

.tag > .collapsible-view_item > .collapsible-view_arrow {
  font-size: 1.8em;
  font-weight: bold;
}